$bodyColor: #f5f5f5;
body {
  background-color: $bodyColor;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  position: relative;
  a:hover {
    text-decoration: none;
  }
  /******************* 头部 ********************/
  .header {
    // width: 100%;
    min-width: 1225px;
    height: 90px;
    background: #fff;
    position: relative;
    .hd_content {
      width: 1225px;
      margin: auto;
      position: relative;
      .logo {
        position: relative;
        top: 26px;
        a {
          img {
            padding-right: 10px;
          }
        }
      }
      .city {
        width: 72px;
        height: 26px;
        position: absolute;
        top: 30px;
        left: 240px;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 3px;
        font-size: 14px;
        line-height: 26px;
        cursor: pointer;
        .jiantou {
          font-size: 14px;
          color: gray;
          margin-left: 5px;
        }
      }
      .underline{
         width: 71px;
         height: 1px;
         background: #fff;
         display: none;
         margin-top: -2px;
         z-index:200;
        position: absolute;
        left: 241px;
        top:57px;
       }
      .city_list {
        position: absolute;
        left: 240px;
        top:55px;
        width: 336px;
        height: 249px;
        background: #fff;
        padding-top: 25px;
        border: 1px solid #ccc;
        border-radius: 3px;
        border-top-left-radius: 0;
        display: none;
        z-index:100;
         li {
           float: left;
           margin-left: 25px;
           div {
             width: 78px;
             height: 30px;
             background: rgba(255, 255, 255, .6);
             position: absolute;
             display: none;
           }
           img {
             width: 78px;
             height: 30px;
             display: block;
             margin-bottom: 8px;
           }
           p {
             font-size: 12px;
             color: #333;
             text-align: center;
           }
         }
         li:hover {
           div {
             display: block;
             cursor: pointer;
           }
         }
       }
      .hd_ul {
        position: absolute;
        left: 320px;
        top: 32px;
        .active {
          a {
            color: #29b572;
          }
        }
        li {
          margin-left: 40px;

          a {
            color: #333333;
            font-size: 16px;
          }
          a:hover {
            color: #29b572;
            text-decoration: none;
          }
        }
      }
      .hd_ol {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 90px;
        li {
          margin-left: -10px;
          color: #cccccc;
          a {
            font-size: 14px;
            color: #5d5d5d;
          }
          a:hover {
            text-decoration: none;
            color: #29b572;
          }
        }
      }
    }
  }
  /************************ 底部 ***************************/
  .footer{
    // width: 100%;
    min-width:1225px;
    background: #fff;
    .box_footer{
      width: 1225px;
      margin: 0 auto;
      height:300px;
      .footer_top{
        height: 60px;
        border-bottom: 1px solid #e8e8e8;
        line-height: 60px;
        overflow: hidden;
        margin-bottom: 36px;
        h2{
          color: #333333;
          font-size: 22px;
          float: left;
        }
        ul{
          margin-left: 120px;
          line-height:65px;
          li{
            float: left;
            margin-right: 40px;
            a{
              color: #989898;
            }
            a:hover{
              color: #676767;
            }
          }
        }
        p{
          float: right;
          line-height:50px;
          a{
            color: #989898;
          }
          a:hover{
            color: #676767;
          }
        }
      }
      .footer_main{
        margin-bottom: 30px;
        div{
          float: left;
          margin-right: 115px;
          h5{
            color: #333333;
            margin-bottom: 30px;
          }
          a{
            display: block;
            color: #818181;
            font-size: 13px;
            line-height:24px;
          }
          a:hover{
            color: #676767;
          }
        }
        .last{
          margin-right: 0;
          float: right;
          text-align: center;
        }
      }
    }
    .footer_bottom{
      width: 100%;
      border-top: 1px solid #e8e8e8;
      text-align: center;
      height: 70px;
      padding-top: 20px;
      color: #808080;
      font-size: 13px;
    }
  }
}