doctype
html
    head
        meta(charset="utf-8")
        title 用户登录
        link(rel="stylesheet",href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
        script(type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
        script(type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
        link(rel="stylesheet",href="../css/public.css")
        link(rel="stylesheet",href="../css/index.css")
    body
        include header.jade
        div.course_list
            div.course_top
                img(src="../img/curriculum.png")
                div.course_top_right
                    h2 unity3D基础课程A段项目
                    div.classhour
                        p 总课时
                        span 365天
                    div.learntime
                        p 标准学习时间
                        span 90天
                div.progressbar_box
                    div.progressbar
                    div.progressbar_color
            div.course_box
                div.course_main
                    ul.list-unstyled
                        li
                            a(href="#")
                                h3 第1课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                        li
                            a(href="#")
                                h3 第2课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                        li
                            a(href="#")
                                h3 第3课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                        li
                            a(href="#")
                                h3 第4课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                        li
                            a(href="#")
                                h3 第5课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                        li
                            a(href="#")
                                h3 第6课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                        li
                            a(href="#")
                                h3 第7课
                                span.title Android 项目开发实战：语音播报计算器
                                div.p_main
                                    em
                                    span Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器Android 项目开发实战：语音播报计算器
                                    i (5分钟)
                                    strong 开始学习
                div.course_main_right
                    div.learninguser
                        div.learninguser_top
                            p 正在学习的用户
                        ul.list-unstyled.message
                            li
                                h3 班级名
                                span A1020
                                span B1021
                                span C1022
                                span D1023
                                span A1024
                                span B1025
                                span C1026
                                span D1027
                                span A1028
                                span B1029
                            li
                                h3 用户名
                                span 飞翔的企鹅教育咨
                                span 教育咨询
                                span 安静
                                span 兔子的胡
                                span 飞翔的企鹅教育咨
                                span 教育咨询
                                span 安静
                                span 兔子的胡
                                span 飞翔的企鹅教育咨
                                span 兔子的胡
                            li.last
                                h3 分数
                                span 98
                                span 99
                                span 100
                                span 89
                                span 95
                                span 100
                                span 88
                                span 90
                                span 78
                                span 100
                    div.mail
        include footer.jade
        script(type="text/javascript",src="../js/header.js")
        script(type="text/javascript",src="../js/progressBar.js")


