//底部
div.footer
    div.box_footer
        div.footer_top
            h2 友情链接
            ul.list-unstyled
                li
                    a(href="#") 蓝欧科技
                li
                    a(href="#") 蓝欧科技
                li
                    a(href="#") 蓝欧科技
                li
                    a(href="#") 蓝欧科技
                li
                    a(href="#") 蓝欧科技
                li
                    a(href="#") 蓝欧科技
            p
                a(href="#") 更多>>
        div.footer_main
            div
                h5 我们的实验室
                a(href="#") 在线编程
                a(href="#") 奖学制度
                a(href="#") 在线班级
                a(href="#") 课后60分钟考试
            div
                h5 关于我们
                a(href="#") 精英吧简介
                a(href="#") 联系我们
                a(href="#") 加入我们
            div
                h5 现有课程
                a(href="#") iOS
                a(href="#") Android
                a(href="#") unity3D
                a(href="#") H5
            div
                h5 帮助
                a(href="#") 联系客服
                a(href="#") 版权声明
                a(href="#") 法律声明
                a(href="#") 服务条款
            div
                h5 反馈方式
                a(href="#") 电子邮箱：help@xxxxx.com
                a(href="#") 微信反馈：精英吧微信公众号
                a(href="#")
                    img(src="../img/jyb_code.jpg")
            div.last
                h5 口袋精英app
                a(href="#")
                    img(src="../img/app_code.png")
                a(href="#") （扫码下载）
    div.footer_bottom
        p 蓝鸥科技有限公司&copy;1997-2016丨北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层

