//头部
div.header
    div.hd_content
        div.logo
            a(href="../html/index.html")
                img(src="../img/logo.png")
                img(src="../img/logo_zi.png")
        div.city
            span 北京
            span.glyphicon.glyphicon-menu-down.jiantou
        span.underline
        ul.city_list.list-unstyled
            li
                div
                img(src="../img/city1.png")
                p 北京
            li
                div
                img(src="../img/city2.png")
                p 大连
            li
                div
                img(src="../img/city3.png")
                p 郑州
            li
                div
                img(src="../img/city4.png")
                p 上海
            li
                div
                img(src="../img/city5.png")
                p 广州
            li
                div
                img(src="../img/city6.png")
                p 西安
            li
                div
                img(src="../img/city7.png")
                p 武汉
        ul.list-unstyled.list-inline.hd_ul
            li.active
                a(href="../html/index.html") 首页
            li
                a(href="../html/course_list.html") 点播课程
            li
                a(href="#") 互联网头条
            li
                a(href="#") +提问
        ol.list-unstyled.list-inline.hd_ol
            li
                a(href="../html/login.html") 登录
            li 丨
            li
                a(href="../html/register.html") 注册
